@media screen and ( max-width:992px ) {
    
    .banner img {

        width: 20%;

    }
    


}

@media screen and ( max-width:768px ) {
    
    body {

        background-image: none;

    }

    nav {

        display: none;

    }


    .banner img:nth-child(1) {

        display: block;
        z-index: -1;
        position: absolute;
        border: none;
        border-radius: unset;
        width: 100%;
        opacity: 0.2;
        margin-bottom: 11%;

    }
    

    .about {
        
        display: block;
        background-color: #29292e;
        margin-top: 10%;

    }

    hr {

        border: 0;
        height: 5px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgb(184 252 158 / 75%), rgba(0, 0, 0, 0));

    }


    .timeline{
    
        position: relative;
        max-width: 75rem;
        margin: 1rem;
        bottom: 0.5rem;
        padding: 2rem;
        font-family: 'Times New Roman', Times, serif;
        line-height: 20px;
        border-radius: 6px;
        border: 2px solid gold;
        background-color: white;

    }
    
    .timeline ul {

        margin-left: 10%;

    }
    
    .skills {
    
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* padding: 5%; */
        margin: 2rem 2.5rem 5px 2.5rem;
    }
    
    .study {

        display: block;
        background-image: url('../Projeler/projeler-görsel/dual-screen.png');
        background-color: #606051;
        background-position: top;
        background-size: cover;
        background-blend-mode: exclusion;

    }

    #header {

        text-align: center;
        font-family:math;
        font-size: 4rem;
        color: antiquewhite;

    }

    .exxen-project {

        color: white;
        text-align: center;
    
    }

    .exxen-project h1 {

        color: #ffcb04;
        margin-top: 2%;
        font-size: xxx-large;
        font-family: fantasy;
        letter-spacing: 5px;
    
    }

    .exxen-project p {

        font-size: larger;
    
    }

    .exxen-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;    

    }

    .exxen-screen img {

        width: 100%;
        padding: 1rem;

    }

    .exxen-screen img:nth-child(3) {

        width: 40%;

    }

    .channel {

        display: block;
        background-color: black;

    }

    .channel h1 {

        text-align: center;
        font-size: xxx-large;
        font-family: math;
        letter-spacing: 5px;
        color: antiquewhite;
        margin: 2rem;

    }

    .contact {

        display: flex;
        flex-direction: column;
    
    }
    
    .channels {
    
        display: flex;
        justify-content: center;
        margin-top: 3%;
    
    }
    
    .post {
    
        display: flex;
        color: antiquewhite;
        justify-content: center;
        padding: 3%;
        background-color: #433d3d;
        border-radius: 10%;
    
    }
    
    form {
    
        display: flex;
        flex-direction: column;
    
    }
    
    .text-box {
    
        display: flex;
        flex-direction: column;
    
    }
    
    input {
    
        text-align: center;
        font-family:sans-serif;
        padding: 8px;
        font-weight: bolder;
        color: black;
        margin: 0px 10px 10px 10px;
        height: 50px;
        width: 300px;
        border-radius: 15px;
    
    }
    
    
    textarea {
    
        font-family: sans-serif;
        padding: 8px;
        font-weight: bolder;
        color: black;
        margin: 0px 10px 10px 10px;
        width: 300px;
        resize: none;
        border-radius: 10px;
    
    }
    
    button {
    
        cursor: pointer;
        margin: auto;
        padding: 3%;
        border-radius: 15px;
        background: #54548b;
        color: white;
        border: none;
    
    }
    
    .socialmedia {
    
        display: flex;
        justify-content: center;
        color: antiquewhite;
        margin-top: 11%;
    
    }
    
    .socialmedia li {
    
        list-style-type: none;
    
    }
    
    
    .socialmedia i {
    
        margin-bottom: 15%;
        margin-right: 15px;
    
    }

    #Logo {

        display: flex;
        justify-content: center;

    }

    .subLogo img {

        max-height: 4rem;

    }

}