*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./HakkımdaGörsel/background-image.png');
    /* background-color:  #6f6f66; */
    background-position: top;
    background-size: cover;
    background-blend-mode: exclusion;
}

nav {

    color: rgb(255, 255, 255);
    background: #29292e;
    position: sticky;
    top: 0;
    z-index: 999;

}

.nav-div {

    display: flex;

}

.nav-div a {

    height: 70px;
    text-decoration: none;
    color: inherit;

}

.nav-div a img {

    height: inherit;
    margin-left: 15%;

}

nav ul {

    display: flex;
    justify-content: space-around;
    list-style-type: none ;
    margin: auto;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}


.nav-div li:hover {
     
    
    color: gold;
    
}


.nav-div li a {

    position: relative;

} 


.nav-div li a::after {

    content: "";
    position: absolute;
    bottom: -3px;
    height: 2px;
    background-color: gold;
    width: 0;
    left: 0;
    transition: all 0.5s;

}

.nav-div li a:hover::after {

    width: 100%;

}


.timeline{

    position: relative;
    max-width: 75rem;
    margin: 1rem auto;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;

}

.timeline::after {

    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 1rem;
    bottom: 9rem;
    left: 50%;
    margin-left: -3px;

}

.data {

    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

}

.data::after {

    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: dimgrey;
    border: 4px solid grey;
    top: 15px;
    border-radius: 50%;
    z-index: 1;

}
  
.left {

    left: 0;

}
  
.right {

    left: 50%;

}
  
.left::before {

    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent gold;

}
  
.right::before {
    
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 31px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent gold transparent transparent;

}
  
.right::after {
    left: -16px;
}
  
.data-word {
    
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: 2px solid gold;
    list-style: inside;
    opacity: 0.3;
    transition: all 0.3s;

}

.data-word:hover {

    opacity: 1;

}

.skills {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 5%; */
    margin: 2rem 2.5rem 5px 2.5rem;
}


